.servicesContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h5 {
    font-size: 24px;
    font-weight: 700;

    @media(max-width: 768px) {
      font-size: 20px;
    }
  }
  .containerCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 20px;
  }

}