.summaryContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;

  background-color: rgba($color: #FFF, $alpha: .03);
  border-radius: 10px;

  padding: 25px 0;
  div {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      font-size: 32px;
      color: var(--color-destaque);
      font-weight: 700;
    }

    font-size: 16px;
    color: #FFF;
    font-weight: 400;
  }
}