.mainSectionContainer {
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;

    .content {
        padding: 0 40px;

        .gap30 {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}