.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: var(--bg-200);

  // box-shadow: 2px 2px 4px 1px #00000028;
  // border: .5px solid rgba($color: var(--color-destaque), $alpha: .25);
  // background-color: rgba($color: #FFF, $alpha: .03);
  padding: 30px;

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h1 {
      font-weight: bold;
      font-size: 20px;
      line-height: 1;
    }

    h2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      color: #737373; //variável
    }
   }
}