.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px 1px #000;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    color: #BCBCBC;
    background-color: #535353;

    &.active {
        background-color: #F5E100;
        color: #000;
    }
}