.clientContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h5 {
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  .galeryContainer {
    width: 100%;
    display: block;
    align-items: stretch;
    
    margin-right: 30px;
    height: max-content;

  }
}