.asideContainer {
  max-width: 400px;
  max-height: inherit;
  height: 100%;
  overflow-y: hidden;

  border-radius: 10px;
  display: grid;
  grid-template-rows: 300px 1fr 50px;

  @media (max-width: 1000px) {
    transform: translateX(-430px);
  }

  .skillsContainer {
    background-color: #232323;
    overflow-y: scroll;
    height: 100%;
     padding: 30px;
  }
}
